$black: #32325D;
$green: #26CADD;
$gray: #F4F7FB;
$line: #93AAAD;
$blue: #0146FF;
$font-color-black-1: #32325D;
$font-color-black-2: #525F7F;
$font-color-black-3: rgba(82, 95, 127, 0.4);


@mixin font($size, $color, $weight) {
    font-family: Source Han Sans CN, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    @content;
}

@mixin flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @content;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    @content;
}

img {
    pointer-events: none;
}

html::-webkit-scrollbar {
    width: 0 !important
}

html {
    -ms-overflow-style: none;
}

html {
    overflow: -moz-scrollbars-none;
}

html::-webkit-scrollbar {
    display: none
}

html::-webkit-scrollbar {
    width: 0px
}


::-webkit-scrollbar-track-piece {
    background-color: rgba(0,0,0,.2);
    -webkit-border-radius: 6px;
}

.pb-32 {
    padding-bottom: 32px;
}

.ptb-140 {
    padding: 90px 0;
}

.ptb-80 {
    padding: 80px 0;
}

.pt-140 {
    padding-top: 140px;
}

.pb-140 {
    padding-bottom: 140px;
}


.mt-48 {
    margin-top: 48px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-24 {
    margin-bottom: 24px;
}

.bo-t {
    border-top: 1px solid #E2E8E9;
}

.bo-b {
    border-bottom: 1px solid #E2E8E9;
}