@media screen and (max-width: 1160px) {
    #app {

        .ptb-140 {
            padding: 80px 0;
        }

        .container-lg {
            width: 90%;
            justify-content: center;
        }

        .header_cards {
            justify-content: center;
            flex-direction: column;

            .headerCard {
                margin-bottom: 16px;
                max-width: 80%;
            }
        }

        main {
            .hardware_1 {
                .container-lg {
                    justify-content: center;

                    >img {
                        width: 80%;
                        height: auto;
                        order: 2;
                        margin-top: 60px;
                        left: 0;
                    }
                }
            }

            .hardware_2 {
                .container-lg {
                    justify-content: center;

                    >img {
                        width: 80%;
                        height: auto;
                        right: 0;
                        margin-top: 60px;
                    }
                }
            }

            .software_1 {
                .container-lg {
                    justify-content: center;

                    >img {
                        width: 100%;
                        height: auto;
                        right: 0;
                        margin-top: 60px;
                        margin-right: 0;
                    }
                }
            }

            .software_2 {
                .video {
                    top: -10px;
                    left: 2%;
                }

                .right {
                    margin-top: 100px;

                    li {
                        width: 100%;
                        justify-content: flex-start;

                        &:before {
                            margin-right: 5%;
                        }
                    }
                }
            }

            .team {

        

                // box-shadow: 0px 16px 40px rgba(50, 50, 93, 0.14);
                .container-lg {
                    .teamIterms {

                        .teamIterm {

                            &:nth-of-type(1),
                            &:nth-of-type(2) {
                                .job-title {
                                    margin-left: -4px;
                                }
                            }
                        }
                    }
                }

                .default-view img {
                    // transform: scale(1.05);
                    filter: contrast(0.92);
                }

                .text-wrap {


                    h3 {
                        transform: translateY(-45px) translateX(-21px) scale(0.8);
                    }

                    span {
                        transform: translateY(-60px) translateX(-22px) scale(0.8);
                    }

                    .des {
                        opacity: 1 !important;
                        transform: translateY(0) !important;
                    }
                }
            }

            .news {
                .container-lg {
                    flex-direction: column;
                    width: 100%;
                    padding: 80px 0 0 0;
                    height: 680px;;

                    .common-title {
                        left: 0;
                        top: -30%;
                    }

                    .scroll-x {
                        width: 100%;
                        display: flex !important;
                        animation: scrollx 10s linear infinite;
                        overflow: hidden;
                        @include flex-all-center {
                            flex-wrap: nowrap;
                      }
                        @keyframes scrollx {
                            0% {
                              transform: translate3d(0, 0, 0);
                            }
                
                            to {
                              transform: translate3d(50%,0 , 0);
                            }
                          }
                    }

                    .news_scroll-wrap {
                        display: none;
                        flex-wrap: nowrap;

                        .lt,
                        .rt {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                }
            }

            .hire {
                .container-lg {
                    li {
                        width: 100%;

                        .content {
                            padding: 20px;
                        }

                        .list-iterm-open {
                            padding-bottom: 580px;
                        }
                    }
                }
            }

            .cooperation {
                img {
                    // width: 90%;

                }
            }

        }
        
    }
}

@media screen and (max-width: 420px) {
        #app {

            #header-motion-container {
                width: 360px;
                height: 360px;
            }
            .common-title {
                width: 95%;

                h1 {
                    font-size: 24px;
                }

                .des {
                    font-size: 16px;
                }
            }

            .headerCard {
                h2 {
                    font-size: 24px;
                }
            }
            .header {
                height: 86vh;
                    .text-wrap {
                        .text {
                            h1 {
                                font-size: 40px;
                                line-height: 56px;
                    width: 96%;

                            }
                            p {
                                width: 80%;
                                font-size: 16px;
                                line-height: 23px;
                            }
                        }
                    }
            }

            .software_1  {
                button {
                    margin-bottom: 12px;
                }
            }

            .team {
                .teamIterm {
                    padding: 32px 0 60px 0;

                    &:hover {
                        box-shadow: none;
                    }

                    img {
                        width: 100px;
                        height: 100px;
                        top: -28px;
                        position: relative;
                    }
                }
            }

            .cooperation {

                .container-lg {
                    width: 100%;

                    span {
                        font-size: 14px;
                    }
                }
                // transform: scale(0.9);
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .global-footer {
                .footer-container {
                  margin: 0 4%;
              }

              .top {
                  padding-bottom:32px; 
                  flex-direction: column;
                  align-items: flex-start;

                  .wechat, .zhihu {
                      margin-top: 140px;
                  }

                  .wechat::before {
                  opacity: 1;
                          left: 0px;
                    margin-top: -4px;
                  }
              }
          }
        }
}